body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  clear: both;
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 10px;
  width: 5%;
  margin: 100px auto 100px auto;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
    line-height: 2;
}

a{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin: 10px 20px;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

href {
  color: #11999E;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  color: #11999E;
  position: relative;
  padding: 50px 0 20px;
  border: 50px;
  margin: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 250px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.mountain {
  padding-top: 100px;
}

.Computing {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Development {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11CDD3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #11CDD3), color-stop(1, #11999E));
  background: -moz-linear-gradient(center top, #11CDD3 5%, #11999E 100%);
  background: -ms-linear-gradient(center top, #11CDD3 5%, #11999E 100%);
  background: -o-linear-gradient(center top, #11CDD3 5%, #11999E 100%);
  background: -webkit-linear-gradient(center top, #11CDD3 5%, #11999E 100%);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
  text-align: center;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #30E3CB), color-stop(1, #2BC4AD));
  background: -moz-linear-gradient(center top, #30E3CB 5%, #2BC4AD 100%);
  background: -ms-linear-gradient(center top, #30E3CB 5%, #2BC4AD 100%);
  background: -o-linear-gradient(center top, #30E3CB 5%, #2BC4AD 100%);
  background: -webkit-linear-gradient(center top, #30E3CB 5%, #2BC4AD 100%);
}

.about-coding {
  padding-bottom: 20px;
  width: 40%;
  margin: 40px auto 30px;
}
